@charset "UTF-8";

*{
		margin: 0px;
		padding: 0px;
	}

	.layout{
		display: flex;
    padding: 80px 0px;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #e9e9e9;
	}		
	
	.side{
	  border-radius: 8px;
    border: 1px solid #e9e9e9;
    padding: 30px 22px 22px 22px;
    background-color: #fff;
    margin-right: 46px;
    height: fit-content;
    
	}
	
	.content{
	  width: 840px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #e9e9e9;
    padding: 55px 42px 32px;
    box-sizing: border-box;
	}

form {
	padding: 10px;
}

.input-box {
	position: relative;
	margin: 10px 0;
	background: transparent;
	border: none;
	border-bottom: solid 1px #ccc;
	padding: 20px 0px 5px 0px;
	font-size: 14pt;
	width: 100%;
}

input:focus+label, label {
	color: #8aa1a1;
	font-size: 10pt;
	pointer-events: none;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

ul{
	list-style: none;
	}
	
  ul a{
	  display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
	}
			
	.side .list{
	  width: 270px;
    line-height: 52px;
    border-radius: 8px;
    border: 1px solid #e9e9e9;
    background-color: #fafafa;
    padding: 0 20px;
    box-sizing: border-box;
	}
	
	.mypage{
	margin-top: 20px;
	}
	
	.profile p{
		color: #0b81ff;
		font-size: 20px;
    font-weight: 500;
    padding-left: 12px;
	}
input[type=submit] {
	display:inline-block;
    float:right;
    border-radius:25px;
    background-color:#BDBDBD;
    color: black;
	border: none;
	text-align: right;
	font-size: 12pt;
	
	margin: 10px 0px;
}
#err{
  color: red;
}
input[type=button] {
	display:inline-block;
    float:right;
    border-radius:25px;
    background-color:#BDBDBD;
    color: black;
	border: none;
	text-align: right;
	font-size: 12pt;
	
	margin: 10px 0px;
}