@charset "UTF-8";


main{
	
	border: none;
	
}

.w_fav{
	text-align: center;
	margin-bottom: 40px;
}


.wrap{
	height: 100%;
	width: 1000px;
	margin: 0 auto;
	
}



.weather{
	height: 200px;
	border: none;
	display: inline-block;
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	
		
}

.weather span{
	font-size: 30px;
}


.w_img{
	width: 1000px;
	height: 300px;
	
	border: none;
	margin: 30px auto;
	
}

.w_img img{
height: 100%;
width: 100%;

}

.ment{
	margin: 0 auto;
}


.e_wrap{
	width: 1000px;
	height: 370px;
	border: none;
	margin: 50px auto;
	display: flex;
}
.e_img{
	width: 300px;
	height: 370px;
	border: none;
	border-radius : 6px;
	display: inline-block;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
	
}

.e_img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.e_img .txt{
	position: absolute;
	left: 30px;
	bottom: 30px;
	font-size: 27px;
	line-height: 30px;
	color: white;
	font-weight: bold;
	text-align: left;
	
}



/* 호버 */

.e_img figure{
	width: 100%;
	height: 100%;
}

.e_img figcaption{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;	left: 0;
	color: white;
	opacity: 0;
	transition:0.3s;
}

.e_img figcaption strong{
	position: absolute;
	left: 30px;
	top: 30px;
	font-size: 27px;
	line-height: 30px;
	font-weight: bold;
	
}
.e_img figcaption span{
	
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 17px;
	line-height: 30px;
	
}


.e_img:hover figcaption{
	opacity: 1;
}
