@charset "UTF-8";
/*여행후기게시판 commwrite.css*/
.detail-wrap .container{
    margin: 0 auto;
    padding-top:70px;
}
.content-wrap{
    width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0px 16px;
	padding-bottom: 50px;
	box-sizing: border-box;
}
.content-wrap .title{
	border-bottom: 1px solid #ddd;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    padding: 20px 0px 20px 10px;
}
.content-wrap .content{
    margin: 50px 16px;
    font-size: 15px;
    line-height: 22px;
    min-height: 100px
}
.content-wrap .content img{
	max-width: 800px !important;
}

#bottom{
    margin-top: 30px;
    font-size: 13px;
    color: rgb(154, 154, 154);
    display: flex;
}
#bottom p:nth-child(n+2){
    margin-left: 8px;
}
#bottom button{
    text-decoration: underline;
    margin-left: 8px;
}


.editor-wrap{
	margin-top:30px;
}
.editor-wrap .btn-box{
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 65px 0px 70px;
}
.editor-wrap .btn-box button{
	width: calc(50% - 8px);
	position: relative;
    line-height: 20px;
    border-radius: 4px;
    padding: 17px 5px;
    background-color: rgb(219, 219, 219);
    font-size: 14px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
button#submit_btn{
	background-color: #0b81ff;
}
.note-editor.note-frame .note-editing-area .note-editable, .note-editor.note-airframe .note-editing-area .note-editable,
.note-editor.note-frame .note-placeholder, .note-editor.note-airframe .note-placeholder{
	padding: 16px 20px;
}
.note-placeholder{
	color: #999;
}

/*팝업*/
#popup{
	position: fixed;
    left: 0px;
    top: 0px;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1000;
    opacity: 0;
    transition: opacity 0.6s ease 0s;
}
#popup.active{
	z-index: 1000;
	display:flex;
	opacity: 1;
}
.popup_inner{
	position: relative;
    max-height: 100%;
    display: block;
    width: 512px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 44px 0px 0px;
    transform: translateY(-50%);
    transition: transform 0.6s ease 0s;
}
#popup .btn_close {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    font-size: 0;
    background: none;
}
#popup .btn_close:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url(../../images/common/icon/close.svg) no-repeat 0 0;
    background-size: cover;
}
.popup_inner .popup_txt {
    min-height: 78px;
    padding: 30px 20px 20px;
    white-space: break-spaces;
    text-align: center;
    box-sizing: border-box;
    line-height: 23px;
}
.popup_inner > .btn_area {
    display: flex;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
}
.popup_inner > .btn_area .btn {
    border-radius: 0;
    background: none;
    padding: 31px 5px;
    font-size: 17px;
    position: relative;
    width: 100%;
    line-height: 20px;
    box-sizing: border-box;
}