@charset "UTF-8";
/*여행후기게시판 목록 css*/
main{
	background-color: rgb(248, 248, 248);
}
main .container{
	margin-top: 50px;
}
/*location-box 시작*/
.location-box{
	display:flex;
	position: relative;
    border-radius: 6px;
    padding:19px 0;
    margin-bottom: 30px;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(255, 255, 255);
    line-height:1;
}
.location-box .legend{
	display: flex;
	width: 144px;
    padding-left:25px;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    color: #0b81ff;
    font-weight: 700;
    font-size: 15px;
    
}
.location-box .legend p{
	margin: 0;
}
.location-box .legend+div{
	display: flex;
	align-items: center;
}
.legend+div label{
    padding: 0 20px;
    color: rgb(154, 154, 154);
    font-weight: 400;
    font-size: 15px;
    margin:0;
    cursor: pointer;
}
.legend+div label.active, .legend+div label:hover{
	font-weight: bold;
	color: #0b81ff;
}
.search_location_btn{
	background-color: #0b81ff;
    border-radius: 4px;
    padding: 13px 28px 11px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
/*location-box 끝*/

.list-top{
	position: relative;
    display: flex;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.list-top > div{
    height: 37px;
    position:relative;
    display:flex;
    margin-left: 8px;
} 
select#order{
	font-weight: 350;
    font-size: 14px;
    line-height: 21px;
    color: rgb(37, 37, 37);
    border: unset;
    background-color: unset;
    appearance: none;
    padding: 8px 30px 8px 8px;
}
.list-top > div::after {
    content: "";
    width: 8px;
    height: 13px;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(-50%, -50%) rotate(90deg);
    background: url(../../images/common/icon/index.svg) 0% 0% / contain no-repeat;
    transition: transform 0.3s ease 0s;
}

.list-main{
	position: relative;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;
}
.cont-box{
    cursor: pointer;
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px;
    width: calc((100% - 45px) /4);
    margin-right: 15px;
    margin-bottom: 30px;
}
.cont-box:nth-child(4n){
	margin-right: 0;
}
.cont-box > div:first-child{
    width: 100%;
    height: 282px;
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 0px !important;
    background-color: #fff;
}
.cont-box > div:first-child img{
    transition: all 0.3s;
    transform: scale(1);
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}
.cont-box > div:first-child:hover img{
    transform: scale(1.2);
}

.list-main .location{
    position: absolute;
    top: 14px;
    left: 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    padding: 5px;
    padding-right: 8px;
    color: rgb(255, 255, 255);
}
.loc-icon{
    width: 21px;
    height: 21px;
    border-radius: 11px;
    background-color: rgb(233, 233, 233);
    margin-right: 8px;
    position: relative;
}
.loc-icon::after {
    content: "";
    width: 9px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../../images/common/icon/gps.svg) 0% 0% / contain no-repeat;
    transition: transform 0.3s ease 0s;
}
.cont-info{
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.cont-info{
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.cont-info > :nth-child(n+2){
    margin-top: 9px;
}
.cont-tit{
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cont-tit b{
    color: #0b81ff;
    font-weight: 500;
    margin-right: 4px;
}
.cont-content{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
}
.cont-bot{
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
}
.cont-bot .profile-box {
	position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
}
.cont-bot .profile-box > img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    border-radius: 50%;
}
.view_cnt{
	position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(154, 154, 154);
}
.view_cnt > div{
	padding-left: 15px;
	margin-left: 8px;
	position: relative;
} 
.view_cnt > div::after{
	content: "";
    width: 12px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    
}
.view_cnt > div.views::after{
	background: url(../../images/common/icon/view.svg) center / contain no-repeat;
}
.view_cnt > div.comm_cnt::after{
	background: url(../../images/common/icon/comm.svg) center / contain no-repeat;
}

.list-bot{
	display: flex;
	justify-content: center;
	margin-bottom:50px;
}
.list-bot a{
	margin: 0 15px;
	font-size: 15px;
	color:#6a6a6a;
}
.list-bot a.active{
	color:#0b81ff;
	font-weight: bold;
}