@charset "UTF-8";
.main{
	width:85%;
	padding: 10px;
}
#loc{
	border:1px solid lightgray;
	margin: auto;
	text-align: center;
	padding: 7px;
	margin-top: 10px;}
#loc label{
	font-size:15px;}
#loc input[type=radio]{
	appearance:none;}
#loc input[type=radio]:checked + label{color:#0b81ff;
	font-weight: bold;} 
#loc label:checked {color:#0b81ff;
	font-weight: bold;}
#titlearea{

	border:2.5px solid #0b81ff;
	border-radius:10px;
	margin: auto;
	vertical-align: middle;
	}
	#titlearea label{
		font-size: 30px;
		color:#0b81ff;
		margin: 10px;}
	#titlearea input{	
		width:90%;
		border:1px solid white;
		font-size:25px;	
		}
	#titlearea input:focus {outline: none;}
#textarea{
	height:560px;
	margin: auto;}
#tagarea{
	border:1px solid lightgray;
	margin: auto;
	text-align: center;}
	#tagarea input{
		width:800px;
		border:1px solid white;}
#buttonarea{
	border:1px solid lightgray;
	margin: auto;}