@charset "UTF-8";

.main{
	width:85%;
	border:1px solid red;
	margin:auto;
	padding: 15px;
	
}
.qa_orderby{
	margin-top:20px;
	margin-bottom:10px;
	width:100%;
	font-size: 15px;
	justify-content:flex-end;
	display:flex;
}
.qa_orderby span{
	font-size: 15px;
	align-self: center;
	margin:5px;

}

.qa_orderby select{
	padding:5px;
	border:none;
	font-size: 15px;
	margin:15px;
}
.qa_orderby input[type=button]{
	font-weight: bold;
	font-size: 15px;
	border:1px solid black;
	border-radius: 50px;
	background-color:white;
}
.qalist{
		border:1px solid red;
}
.qalist p{
		border:1px solid red;
		
}
.listbox{
	float: left;
	border: 1px solid gray;
	margin: 5px;
	width: calc(50% - 20px);
    box-sizing: border-box;
	overflow:hidden;
	
}
.boxtop{
	align: center;
	border:1px solid green;
}
.local {
	font-size:15px;
}
.local img{
	width:18px;
	display:inline;
	margin-right:8px;
}
.condition{
	color:#0b81ff;
	font-size:18px;
	float:right;
	margin:8px;
}
.boxtitle{
	border:1px solid red;
	display: block;
}
.boxcontent{
	border:1px solid red;
}
.qalist ul{
	border:1px solid red;
	list-style: none;
}
.boxnick{
	border:1px solid red;
}
.boxcommcnt{
	border:1px solid red;
}
.qaListPage{
	clear:both;
}
