@charset "UTF-8";

.main{
	width:85%;

	margin:auto;
	padding: 15px;
	
}
.qa_orderby{
	margin-top:20px;
	margin-bottom:10px;
	width:100%;
	font-size: 15px;
	justify-content:flex-end;
	display:flex;
}
.qa_orderby span{
	font-size: 15px;
	align-self: center;
	margin:5px;
}

.qa_orderby select{
	padding:5px;
	border:none;
	font-size: 15px;
	margin:15px;
}
.qa_orderby input[type=button]{
	font-weight: bold;
	font-size: 15px;
	border:1px solid black;
	border-radius: 50px;
	background-color:white;
}

.listbox{
	float: left;
	margin: 5px;
	width: calc(50% - 20px);
    box-sizing: border-box;
	overflow:hidden;
}
.boxtop{
	align: center;
}
.local {
	font-size:15px;
}
.local img{
	width:18px;
	display:inline;
	margin-right:8px;
}
.local p{
	font-size: 20px;
	display: inline-block;
}
.condition{
	color:#0b81ff;
	font-size:18px;
	float:right;
	margin:8px;
}
.boxcontent{
	width:100%;
	height:50px;
	overflow:hidden;
	
}
.qalist ul{
	list-style: none;
	display: inline-block;
}
.qalist li{
	float: left;
	margin:7px;
	background-color: lightgray;
	border-radius: 3px;
	padding: 2px;
	display: inline-block;
	
}
.boxnick{
	display: flex;
}
.nicki{
	width:15px;
}
.boxnick p{
	display: flex;
}
.boxview{
	display: flex;	
}
.boxview p{
	display: flex;	
} 
.boxbottom{
	display: flex;
	
	}
.boxcommcnt{
	display: flex;
}
.boxcommcnt p{
	display: flex;
}
.qaListPage{
	clear:both;
}
