.container * {
	font-size: 16px;
}

.content_header {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden; 
}
.content_header h2 {
    height: 40px;
    font-weight: 400;
    color: white;
}
.content_header h1 {
    height: 80px;
    line-height: 40px;
    font-weight: 500;
    font-size: 68px;
    color: white;
}
#main_content h1 {
    line-height: 40px;
    font-weight: 500;
    font-size: 34px;
}

.container {
    display: flex; 
    flex-direction: row;
    width: 100%;
    /* padding: 15px; */
    margin: 25px;
    box-sizing: border-box;
    align-items: top;
    justify-content: center;
}
.flexcon {
    display: flex;
}
.contentbox {
    display: flex; 
    flex-direction: column;
    margin: 25px;
    margin-bottom: auto;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.contentbox * {
    margin: 15px 0px;
}

.desc {
    width: auto;
    padding: 25px;
    border: 1px solid lightgray;
}
.desctext {
	display: inline-block;
    width: 100px;
    color: gray;
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

input[type="button"] {
    display: flex;
    width: 100%;
    margin: 5% 0% 0% 0%;
    height: 48px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(0, 206, 124);
    color: white;
    cursor: pointer;
}

.region_btns, .gender_btns {
    margin: 0px 50px 0px 0px;
    justify-content: flex-start;
    border: 0;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    color: gray;
    cursor: pointer;
}

input {
  -webkit-appearance: auto;
}

input:focus {
    outline: rgb(0, 206, 124) solid 2px;
}

input#memcount_range:focus {
	outline: none;
}