.container * {
	font-size: 16px;
}

.content_header {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: aqua;
    background-image: url("../../images/board_party/thumb.jpg");
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.content_header h2 {
    height: 40px;
    font-weight: 400;
    color: white;
}
.content_header h1 {
    height: 80px;
    line-height: 40px;
    font-weight: 500;
    font-size: 68px;
    color: white;
}

#searcher, #list, #page {
    display: flex; 
    flex-direction: column;
    width: 1200px;
    /* padding: 15px; */
    margin: 25px;
    box-sizing: border-box;
}
.flexcon {
    display: flex;
}
.contentbox {
    display: flex; 
    flex-direction: column;
    /* padding: 15px; */
    margin: 25px;
    box-sizing: border-box;
}

.select_box {
    width: 100%;
    padding: 25px;
    border: 1px solid lightgray;
}

.descbox {
    display: flex;
    align-items: center;
    width: 150px;
}

.region_btns, .gender_btns {
    margin: 0px 50px 0px 0px;
    justify-content: flex-start;
    border: 0;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    color: gray;
    cursor: pointer;
}

.submit_btn {
    display: flex;
    width: 100%;
    height: 54px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(0, 206, 124);
    color: white;
    cursor: pointer;
}

#page a {
    margin: 0px 10px;
}

input {
  -webkit-appearance: auto;
}

input:focus {
    outline: rgb(0, 206, 124) solid 2px;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 282px;
    margin: 8px 8px;
    height: 380px;
    overflow: hidden;
    cursor: pointer;
}

.article .pic {
    width: 282px;
    height: 282px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
}
.article .pic img {
    position: absolute;
    left: 0%;
    top: 0%;
    min-width: 100%;
    max-height: 100%;
    transition: all 0.2s;
}
.article .pic .region .schedule {
    position: absolute;
    visibility: hidden;
}
.article .pic:hover .region .schedule {
    position: unset;
    visibility: visible;
}
.article .pic:hover img {
    position: absolute;
    left: -5%;
    top: -5%;
    min-width: 110%;
    max-height: 110%;
}
.article .pic .region {
    position: absolute;
    left: 15px;
    top: 15px;
    width: auto;
    padding: 0px 10px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    line-height: 30px;
    border-radius: 30px;
}
.article .content * {
    margin: 6px 0px;
    overflow: hidden;
    white-space: nowrap;
}

.expired {
    color: gray;
}
.hiring {
    color: rgb(0, 206, 124);
}