#pb_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 1200px;
    margin: auto;
}

#pb_head div {
	font-size: 24px;
    font-weight: 700;
}
#pb_head a {
    color: gray;
	font-size: 16px;
    font-weight: 700;
}

#pb_list * {
	font-size: 16px;
}

#pb_list {
    display: flex; 
    flex-direction: column;
    width: 1200px;
    /* padding: 15px; */
    margin: auto;
    box-sizing: border-box;
}
.pb_flexcon {
    display: flex;
}
.pb_contentbox {
    display: flex; 
    flex-direction: column;
    /* padding: 15px; */
    margin: 25px;
    box-sizing: border-box;
}

.pb_select_box {
    width: 100%;
    padding: 25px;
    border: 1px solid lightgray;
}

.pb_descbox {
    display: flex;
    align-items: center;
    width: 150px;
}

.pb_article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 282px;
    margin: 8px 8px;
    height: 380px;
    overflow: hidden;
    cursor: pointer;
}

.pb_article .pb_pic {
    width: 282px;
    height: 282px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
}
.pb_article .pb_pic img {
    position: absolute;
    left: 0%;
    top: 0%;
    min-width: 100%;
    max-height: 100%;
    transition: all 0.2s;
}
.pb_article .pb_pic .pb_region .pb_schedule {
    position: absolute;
    visibility: hidden;
}
.pb_article .pb_pic:hover .pb_region .pb_schedule {
    position: unset;
    visibility: visible;
}
.pb_article .pb_pic:hover img {
    position: absolute;
    left: -5%;
    top: -5%;
    min-width: 110%;
    max-height: 110%;
}
.pb_article .pb_pic .pb_region {
    position: absolute;
    left: 15px;
    top: 15px;
    width: auto;
    padding: 0px 10px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    line-height: 30px;
    border-radius: 30px;
}
.pb_article .pb_content * {
    margin: 6px 0px;
    overflow: hidden;
    white-space: nowrap;
}

.pb_expired {
    color: gray;
}
.pb_hiring {
    color: #0b81ff;
}