@charset "UTF-8";
footer{
    width: 100%;
    min-width: 1200px;
    border-top: 1px solid rgb(233, 233, 233);
    padding-bottom: 49px;
    background: rgb(255, 255, 255);
}
footer >.container{
    padding: 50px 280px 0 0;
    box-sizing: border-box;
}
footer .container >div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 26px;
    color: rgb(106, 106, 106);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px
}
footer .container span{
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
}
footer .container button{
    margin-left: 13px;
    border: 1px solid rgb(233, 233, 233);
    padding: 8px 10px 9px;
    line-height: 15px;
    font-weight: 400;
}
footer .container p{
    margin-right:5px;
}