@charset "UTF-8";
header{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1000;
    background: rgb(255, 255, 255);
    min-width: 1200px;
    padding-top: var(--app-padding-top);
    box-shadow: rgb(0 0 0 / 4%) 2px 4px 10px;
}
.h_top{
    width: 100%;
    height: 80px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
.h_left{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.h_left > :nth-child(n){
    margin-right: 23px;
}
.h_logo a{
	vertical-align: top;   
	align-items: center;
}
.h_nav{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}
.h_nav button{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    height: fit-content;
    border: 0px solid rgb(106, 106, 106);
    padding: 19px 0px;
    margin: 0px 13px;
    color: rgb(106, 106, 106);
    font-weight: 400;
    font-size: 18px;
}
.h_nav button.active{
    border-style: solid;
    border-color: rgb(37, 37, 37);
    border-image: initial;
    border-width: 0px 0px 3px;
    padding: 19px 0px 16px;
    margin: 0px 13px;
    color: rgb(37, 37, 37);
    font-weight: bold;
    font-size: 18px;
}
.h_right{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}
.h_right > :nth-child(n) {
    margin-right: 23px;
}
.h_right .search_wrap{
    position: relative;
    width: 330px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.search_wrap > button{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
}
.search_wrap > button::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 14px;
    height: 14.5px;
    margin: 13px 13px 13px 17px;
    background: url(../../images/common/icon/find.svg) 0% 0% / cover;
}
.search_wrap > input{
    background: rgb(248, 248, 248);
    border: 1px solid rgb(233, 233, 233);
    box-sizing: border-box;
    border-radius: 90px;
    height: 40px;
    width: 100%;
    padding: 13px 18px 13px 90px;
}
.search_wrap > select{
	position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: #5b5b5b;
}
.h_right > button{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: unset;
    border-radius: unset;
    color: rgb(106, 106, 106);
    font-weight: 400;
    font-size: 16px;
}
.h_right > button.join{
    color: #0b81ff;
}
.h_right > button + button::before {
    content: "";
    position: absolute;
    left: -11.5px;
    top: 50%;
    display: block;
    width: 1px;
    height: 14px;
    background: darkgray;
    pointer-events: none;
    transform: translateY(-50%);
}
.h_right > button.btn_write{
    background-color: #0b81ff;
    border-radius: 4px;
    padding: 13px 28px 11px;
    color: rgb(255, 255, 255);
    font-weight: 700;    
}
.h_right .write_popup{
    visibility: visible;
    position: absolute;
    width: 183px;
    padding: 0px 0px 0px 25px;
    background: rgb(255, 255, 255);
    height: 138px;
    top: 60px;
    margin-top: 20px;
    right: 0px;
    border-radius: 6px;
    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 0px 3px);
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 100;
    margin-right: 0px !important;
}
.h_right .write_popup.active{
    display: flex;
}
.h_right .write_popup > button{
    background: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: rgb(37, 37, 37);
}
.h_right .write_popup > button img{
    position: absolute;
    left: 0px;
    top: calc(50%);
    transform: translateY(-50%);
    width: 33px;
}
.h_right .write_popup > button p{
    padding-left: 12px;
}
.h_right .write_popup::after{
    content: "";
    position: absolute;
    top: -6px;
    right: 50px;
    border-width: 0px 6px 6px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8) transparent;
    display: block;
    width: 0px;
    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 0px 5px);
}

.h_bot{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: flex-start;
    margin: 0px 12px;
    width: 100%;
    height: fit-content; 
}
.h_bot button{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    height: fit-content;
    border: 0px solid rgb(106, 106, 106);
    padding: 22px 14px;
    color: rgb(106, 106, 106);
    font-weight: 400;
    font-size: 16px;
}
.h_bot button.active{
    border-style: solid;
    border-color: rgb(37, 37, 37);
    border-image: initial;
    border-width: 0px 0px 3px;
    padding: 22px 14px 19px;
    color: rgb(37, 37, 37);
    font-weight: bold;
}

/* 로그인했을때 */
.h_right > button.btn_notice{
    position: relative;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    width: 28px;
    height: 23px;
    background-image: url(../../images/common/icon/msg/off.svg);
    background-size: cover;
}
.btn_profile{
    position: relative;
    margin-right: 40px !important;
}
.btn_profile > img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
}
.btn_profile::after{
    content: "";
    position: absolute;
    right: -20px;
    top: 47%;
    display: block;
    width: 14px;
    height: 7px;
    background: url(../../images/common/icon/form_arrow_black_fill.svg) 0% 0% / cover no-repeat;
}
.notice_popup{
    position: absolute;
    top: 80px;
    right: 240px;
    background: rgb(255, 255, 255);
    width: 401px;
    box-shadow: rgb(0 0 0 / 2%) 0px 0px 0px 2px;
    border-radius: 3px;
    z-index: 100;
    display: none;
    margin: 0px !important;
}
.notice_popup.active{
    display: block;
}
.notice_top{
    width: 100%;
    height: 59px;
}
.notice_top > button{
    position: relative;
    font-weight: bold;
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    width: calc(50% - 2px);
    color: rgb(154, 154, 154);
    background: rgb(244, 244, 244);
    padding: 20px 0px;
}
.notice_top > button.active{
    color: #0b81ff;
    background: #fff;
}
.notice_content{
    height: 496px;
    overflow-y: scroll;
    margin: 6px 2px 0px;
}
.notice_content > button{
    height: 54px;
    margin: 0px 25px 6px;
    width: calc(100% - 50px);
    background: rgb(244, 244, 244);
    border-radius: 8px;
}
.info_popup{
    visibility: hidden;
    position: absolute;
    background: #FFFFFF;
    border-radius: 6px;
    width: 183px;
    height: 131px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.161));
    top: 80px;
    right: 12px;
    padding: 0 16px;
    z-index: 100;
    margin: 0 !important;
}
.info_popup.active{
    visibility: visible;
}
.info_popup > .area_porfile{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #DFDFDF;
}
.info_popup > .area_porfile img{
    width: 38px;
    height: 38px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 8px;
}
.info_popup .area_profile div{
    margin: 0 0 0 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info_popup .area_profile div p{
    font-size: 14px;
}
.info_popup .area_porfile div button{
    background: #FFFFFF;
    font-size: 13px;
    font-weight: 300;
    color: #0b81ff;
    width: fit-content;
}
.info_popup .area_porfile div button::after{
    content: "";
    position: absolute;
    right: 82px;
    top: 44px;
    display: block;
    width: 7px;
    height: 10px;
    background: url(../../images/common/form_arrow_blue.svg) no-repeat;
    background-size: cover;
}
.info_popup .btn_logout{
    padding: 18px 0;
    background: #FFFFFF;
    font-size: 14px;
    color: #252525;
    font-weight: 500;
}
.info_popup::after{
    content: "";
    position: absolute;
    top: -5px;
    left: 53px;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8) transparent;
    display: block;
    width: 0;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.161));
}