#limiter, #editor, #submitter {
    display: flex;
    flex-direction: column;
    height: 600px;
    border: 2px solid green;
}

.select_box {
    margin: 15px;
    padding: 15px;
    border: 1px solid lightgray;
}

.region_btns {
    width: fit-content;
    justify-content: flex-start;
}