.chatbox {
    display: flex;
    width: 1280px;
    border: 2px green solid;
}

.roomlist {
    display: flex;
    width: 300px;
    height: 800px;
    flex-direction: column;
    border: 2px yellow solid;
}

.chatlist {
    display: flex;
    width: 600px;
    height: 800px;
    border: 2px greenyellow solid;
}