@charset "UTF-8";

#adminchat {
	display: flex;
	position: fixed;
	width: auto;
	height: auto;
	right: 30px;
	bottom: 30px;
	padding: 10px 20px;
	text-align: center;
	vertical-align: middle;
	border-radius: 30px;
    color: #0b81ff;
	background-color: #ffffffDD;
	box-shadow: 0px 0px 10px #00000033;
}

#adminchat_btn {
	cursor: pointer;
}

#adminchat_btn p {
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
    color: #0b81ff;
}

#adminchat_box {
	display: flex;
	width: 300px;
	height: 600px;
}

#adminchat .messagebox {
	margin-top: 10px;
	height: 500px;
    background-color: transparent;
}

#adminchat .sendbox {
    margin-bottom: 0px;
}
#adminchat .sendbox .msgbox {
    width: auto;
	margin: auto;
	padding: 10px;
}

#adminchat .msgbox {
	margin: 0px;
	padding: 0px;
}

#adminchat .line {
	background-color: black;
    margin: 0px;
}
#adminchat .msg-flex {
    margin: 0px;
	word-break:break-all;
	height: auto;
	padding: 10px 15px;
}
#adminchat .msg-info {
    margin: 0px 10px 0px 10px;
}
#adminchat .msg-mine {
    margin: 5px 5px;
}
#adminchat .msg-user {
    margin: 5px 5px;
}